.promotion.gorenje {
	span:after {
		background: #13b3a9;
	}
	.promotion-details ul li:before {
		border-left: 6px solid #13b3a9;
	}	
	.orders,
	.promotion-blocks {
		border-bottom: 7px solid #13b3a9;
	}
	ul li:before:extend(.promotion.gorenje .promotion-details ul li:before) {
	}
	a {
		color: #13b3a9;
		&:after {
			border-left: 6px solid #13b3a9;
		}
	}
}
.promotion.bosh {
	span:after {
		background: #ed1b24;
	}
	.promotion-details ul li:before {
		border-left: 6px solid #ed1b24;
	}	
	.orders,
	.promotion-blocks {
		border-bottom: 7px solid #ed1b24;
	}
	ul li:before:extend(.promotion.bosh .promotion-details ul li:before) {
	}
	a {
		color: #ed1b24 !important;
		&:after {
			border-left: 6px solid #ed1b24;
		}
	}
}
.promotion.dialog {
	span:after {
		background: #e70024;
	}
	.promotion-details ul li:before {
		border-left: 6px solid #e70024;
	}
	.orders,
	.promotion-blocks {
		border-bottom: 7px solid #e70024;
	}
	ul li:before:extend(.promotion.dialog .promotion-details ul li:before) {
	}
	a {
		color: #e70024 !important;
		&:after {
			border-left: 6px solid #e70024;
		}
	}
}
.promotion {
	margin-top: 52px;
	width: 100%;
	display: block;
	> span {
		position: relative;
		display: block;
		width: 100%;
		z-index: 0;
		img {
			display: block;
			padding-left: 20px;
		}
		&:after {
			content: "";
		    position: absolute;
		    top: 7px;
		    left: 0;
		    width: 100%;
		    height: 40px;
		    // background: #13b3a9;
		    z-index: -1;
		}
	}
	.promotion-details {
		position: relative;
		margin-top: 20px;
		padding: 32px;
		color: #6e6e6e;
		background: rgb(228,228,228);
		background: linear-gradient(to right,  #e4e4e4 0%, #f0f0f0 60%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=1 );
		> ul:extend(.promotion .orders .order ul all) {
			width: 60%;

			@media (max-width: 980px) {
				width: 100%;
			}
		}
		> a:extend(.promotion .orders .order a all) {
		}
		h1 {
			font-size: 46px;
			text-transform: uppercase;
			
			@media (max-width: 680px) {
				width: 100%;
				font-size: 38px;
			}
		}
		h2 {
			position: static;
			padding: 0;
			margin-top: 6px;
			font-size: 28px;
			text-align: left;
			letter-spacing: 0;
			background-color: transparent;
			i {
				font-weight: 500;
			}

			@media (max-width: 680px) {
				font-size: 24px;
			}
		}
		h4 {
			width: 40%;
			margin-top: 56px;
			font-size: 24px;
			line-height: 1.1;

			@media (max-width: 980px) {
				width: 100%;
			}
		}
		p {
			width: 48%;
			max-height: 184px;
			margin-top: 26px;
			font-weight: 100;
			position: relative;
			z-index: 1;

			@media (max-width: 980px) {
				width: 100%;
			}

			// @media (max-width: 1080px) {
			// 	width: 50%;
			// }

			// @media (max-width: 680px) {
			// 	width: 100%;
			// 	padding-top: 136px;
			// }

			// @media (max-width: 480px) {
			// 	padding-top: 296px;
			// }
		}
		img {
			position: absolute;
			bottom: 0;
			right: 0;
			height: calc(100% - 20px);
			width: auto;

			@media (max-width: 980px) {
				position: relative;
				display: block;
				right: 0;
				bottom: 0;
				width: 100%;
				height: auto;
				right: -32px;
				margin-top: 16px;
			}

			// @media (max-width: 700px) {
			// 	width: 400px;
			// }

			// @media (max-width: 680px) {
			// 	bottom: 165px;
			// }

			// @media (max-width: 480px) {
			// 	bottom: 194px;
			// }
		}

		@media (max-width: 980px) {
			// padding: 16px 18px 86% 18px; 
			padding-bottom: 0;
		}

		// @media (max-width: 680px) {
		// 	padding: 16px 18px; 
		// }

		// @media (max-width: 420px) {
		// 	padding: 16px 0 0 10px;
		// }
	}
	.orders,
	.promotion-blocks {
		box-sizing: border-box;
		overflow: hidden;
		margin-top: 32px;
		width: 100%;
		padding-bottom: 20px;
		// border-bottom: 7px solid #13b3a9;

		@media (max-width: 980px) {
			// flex-wrap: nowrap;	
		}
		.order,
		.block {
			box-sizing: border-box;
			float: left;
			width: 96% / 3;
			margin-right: 2%;
			padding-bottom: 30px;
			&:nth-child(3n+0) {
				margin-right: 0;
			}			
			h3 {
				display: inline-block;
				padding: 10px;
				letter-spacing: 0;
				color: #fff;
				background-color: #13b3a9;
				margin: 0;
			}
			// > span {
			// 	display: inline-block;
			// 	padding: 10px;
			// 	color: #fff;
			// 	background-color: #ed1b24;
			// 	font-size: 30px;
			// 	font-weight: 300;

			// 	@media (max-width: 680px) {
			// 		display: table;
			// 	} 
			// }
			h4 {
				margin-top: 24px;
				font-size: 28px;
			}
			img {
    			display: block;
				// margin-top: 24px;
    			width: 100%;
			}
			ul {
				height: auto;
				margin-top: 26px;
				line-height: 14pt;
				font-weight: 100;
				font-size: 14px;
				color: #434343;
				li {
					margin-top: 18px;
					&:before {
						content: "";
						display: inline-block;
						margin-right: 8px;
						width: 0;
					    height: 0;
					    border-top: 6px solid transparent;
					    border-bottom: 6px solid transparent;
					    // border-left: 6px solid #ed1b24;
					    // border-left: 6px solid #13b3a9;
					}
				}
				li:first-child {
					margin-top: 0;
				}

				@media (max-width: 980px) {
					height: auto;
				}
			}

			@media (max-width: 980px) {
				width: 98% / 2;
				 * {
					padding-left: 18px;
					padding-right: 18px;
				}
				li,
				img {
					padding-left: 0;
					padding-right: 0;
				}
				&:nth-child(3n+0) {
					margin-right: 2%;
				}
				&:nth-child(even) {
					margin-right: 0;
				}
			}

			@media (max-width: 620px) {
				width: 100%;

			}
			a {
				margin-top: 20px;
				display: block;
				font-size: 14px;
				font-weight: 100;
				text-decoration: none;
				color: #13b3a9;
				&:after {
					content: "";
					display: inline-block;
					margin-left: 8px;
					width: 0;
				    height: 0;
				    border-top: 5px solid transparent;
				    border-bottom: 5px solid transparent;
				    // border-left: 6px solid #ed1b24;
				    // border-left: 6px solid #13b3a9;
				}
				&:hover {
					color: #232323;
				}
			}
			p {
				margin-top: 26px;
			    font-weight: 100;
			    position: relative;
			    z-index: 1;
			}
			// a:first-of-type {
			// 	margin-top: 26px;
			// }

			// @media (max-width: 980px) {
			// 	padding: 0 22px 32px 10px;
			// }

			// @media (max-width: 740px) {
			// 	padding: 0 0 32px 0;
			// }

			// @media (max-width: 680px) {
			// 	padding: 0 18px 32px 18px;
			// }

			// @media (max-width: 420px) {
			// 	padding: 0 0 32px 10px;
			// }
		}

		@media (max-width: 680px) {
			margin: 0 auto;
			margin-top: 40px;
			padding-bottom: 0;
			width: 100%;
		}
	}

}