.promotion.gorenje {
	span:after {
		background: #13b3a9;
	}
	.promotion-details ul li:before {
		border-left: 6px solid #13b3a9;
	}	
	.orders,
	.promotion-blocks {
		border-bottom: 7px solid #13b3a9;
		margin-top: 16px;
		text-align: center;
		h4 {
			font-size: 22px !important;
			min-height: 44px;
			margin-top: 10px !important;
			padding-left: 0;
			padding-right: 0;

			@media (max-width: 380px) {
				font-size: 20px !important;
			}
		}
		a {
			width: 146px;
			display: inline-block;
			margin: 10px;
		}
		a > .orders,
		a > .block {
			width: 100%;
			padding-bottom: 0;
		}
	}
	ul li:before:extend(.promotion.gorenje .promotion-details ul li:before) {
	}
	a {
		color: #13b3a9;
		&:after {
			border-left: 6px solid #13b3a9;
		}
	}
}
.promotion.bosh,
.promotion.bosh-fall {
	span:after {
		background: #ed1b24;
	}
	.promotion-details ul li:before {
		border-left: 6px solid #ed1b24;
	}	
	.orders,
	.promotion-blocks {
		border-bottom: 7px solid #ed1b24;
	}
	ul li:before:extend(.promotion.bosh .promotion-details ul li:before) {
	}
	a {
		color: #ed1b24 !important;
		&:after {
			border-left: 6px solid #ed1b24;
		}
	}
}
.promotion.aeg-electrolux {
	span:after {
		background: #151740;
	}
	@media(max-width: 600px) {
		span > img {
			max-width: 320px;
			padding-top: 6px;
			padding-left: 11px;
		}
		span:after {
			height: 34px;
		}
	}
	@media(max-width: 350px) {
		span > img {
			max-width: 298px;
			padding-top: 6px;
			padding-left: 0;
		}
		span:after {
			display: none;
		}
	}
	.promotion-details ul li:before {
		border-left: 6px solid #e70024;
	}
	.promotion-details {
		.wrapper > ul:last-child {
			padding-bottom: 26px;
			li {
				display: inline;
				margin-right: 6px;
			}
		}
		ul + h4 {
			margin-top: 24px;
		}
		@media(max-width: 980px) {
			img {
				width: 80%;
				height: auto;
				margin-left: 23%;
				margin-top: -30px;
			}
			h1 {
				font-size: 32px !important;
			}
		}
	}
	.orders,
	.promotion-blocks {
		border-bottom: 7px solid #151740;
	}
	ul li:before:extend(.promotion.bosh .promotion-details ul li:before) {
	}
	a {
		color: #151740 !important;
		&:after {
			border-left: 6px solid #151740;
		}
	}
}
.promotion.dialog {
	margin-top: 28px;
	span:after {
		background: #e4e4e4;
	}
	.promotion-details ul li:before {
		margin-top: 0;
		border-left: 6px solid #e70024;
	}
	.orders,
	.promotion-blocks {
		border-bottom: 7px solid #e4e4e4;

		@media (max-width: 720px) {
			margin-top: 22px;
			padding-bottom: 8px;
		}
		.order,
		.block {
			width: 95% / 6;
			margin-right: 1%;
			padding-bottom: 8px;
			&:nth-child(3n+0) {
				margin-right: 1%;
			}
			&:last-child {
				margin-right: 0;
			}

			@media (max-width: 980px) {
				&:nth-child(3n+0) {
					margin-right: 1%;
				}
				&:nth-child(2n+0) {
					margin-right: 1%;
				}
				&:last-child {
					margin-right: 0;
				}
			}

			@media (max-width: 480px) {
				width: 98% / 3;
				margin-right: 1%;
				&:nth-child(3n+0) {
					margin-right: 0;
				}
			}
		}
	}
	ul li:before:extend(.promotion.dialog .promotion-details ul li:before) {
	}
	a {
		color: #e70024 !important;
		&:after {
			border-left: 6px solid #e70024;
		}
	}
}
.promotion {
	margin-top: 52px;
	width: 100%;
	display: block;
	> span {
		position: relative;
		display: block;
		width: 100%;
		z-index: 0;
		img {
			display: block;
			padding-left: 20px;
		}
		&:after {
			content: "";
		    position: absolute;
		    top: 7px;
		    left: 0;
		    width: 100%;
		    height: 40px;
		    z-index: -1;
		}
	}
	.promotion-details {
		position: relative;
		margin-top: 20px;
		color: #6e6e6e;
		background: rgb(228,228,228);
		background: linear-gradient(to right,  #e4e4e4 0%, #f0f0f0 60%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#ffffff',GradientType=1 );
		.wrapper {
			padding: 32px;
			h1 {
				font-size: 42px;
			}
			> ul:extend(.promotion .orders .order ul all) {
				width: 60%;

				@media (max-width: 980px) {
					width: 100%;
				}
			}
			> a:extend(.promotion .orders .order a all) {
				&:last-child {
					padding-bottom: 32px;
				}
			}
			
			@media (max-width: 980px) {
				padding-bottom: 0;
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		@media (max-width: 480px) {
			img {
				position: static !important;
			}
			h1 {
				font-size: 28px !important;
			}
			h2 {
				font-size: 22px !important;
			}
		}
		h1 {
			font-size: 46px;
			text-transform: uppercase;
			position: relative;
			z-index: 1;
			
			@media (max-width: 680px) {
				width: 100%;
				font-size: 32px;
			}
		}
		h2 {
			position: static;
			padding: 0;
			margin-top: 6px;
			font-size: 28px;
			text-align: left;
			letter-spacing: 0;
			background-color: transparent;
			i {
				font-weight: 500;
			}

			@media (max-width: 680px) {
				font-size: 24px;
			}
		}
		h4 {
			width: 40%;
			margin-top: 56px;
			font-size: 24px;
			line-height: 1.1;

			@media (max-width: 980px) {
				width: 100%;
				margin-top: 24px;
			}
		}
		p {
			width: 48%;
			max-height: 184px;
			margin-top: 26px;
			font-weight: 100;
			position: relative;
			z-index: 1;

			@media (max-width: 980px) {
				width: 100%;
			}
		}
		img + h4 {
			margin-top: 20px;
		}
		img {
			position: absolute;
			bottom: 0;
			right: 0;
			height: ~"calc(100% - 40px)";
			width: auto;

			@media (max-width: 980px) {
				position: relative;
				display: block;
				right: 0;
				bottom: 0;
				width: 100%;
				height: auto;
				margin-top: 16px;
			}
		}
	}
	.orders,
	.promotion-blocks {
		box-sizing: border-box;
		overflow: hidden;
		margin-top: 32px;
		width: 100%;
		padding-bottom: 20px;
		.order,
		.block {
			box-sizing: border-box;
			float: left;
			width: 96% / 3;
			margin-right: 2%;
			padding-bottom: 30px;
			&:nth-child(3n+0) {
				margin-right: 0;
			}			
			h3 {
				display: inline-block;
				padding: 10px;
				letter-spacing: 0;
				color: #fff;
				background-color: #13b3a9;
				margin: 0;
			}
			h4 {
				margin-top: 24px;
				font-size: 28px;
			}
			img {
    			display: block;
    			width: 100%;
			}
			ul {
				height: auto;
				margin-top: 26px;
				line-height: 14pt;
				font-weight: 100;
				font-size: 14px;
				color: #434343;
				li {
					margin-top: 18px;
					&:before {
						content: "";
						display: inline-block;
						margin-right: 8px;
						width: 0;
					    height: 0;
					    border-top: 6px solid transparent;
					    border-bottom: 6px solid transparent;
					}
				}
				li:first-child {
					margin-top: 0;
				}

				@media (max-width: 980px) {
					height: auto;
				}
			}

			@media (max-width: 980px) {
				width: 98% / 2;
				 * {
					padding-left: 10px;
					padding-right: 10px;
				}
				li,
				img {
					padding-left: 0;
					padding-right: 0;
				}
				&:nth-child(3n+0) {
					margin-right: 2%;
				}
				&:nth-child(even) {
					margin-right: 0;
				}
			}
			@media (max-width: 580px) {
				width: 100%;

			}
			a {
				margin-top: 20px;
				display: block;
				font-size: 14px;
				font-weight: 100;
				text-decoration: none;
				color: #13b3a9;
				&:after {
					content: "";
					display: inline-block;
					margin-left: 8px;
					width: 0;
				    height: 0;
				    border-top: 5px solid transparent;
				    border-bottom: 5px solid transparent;
				}
				&:hover {
					color: #232323 !important;
				}
			}
			p {
				margin-top: 26px;
			    font-weight: 100;
			    position: relative;
			    z-index: 1;
			}
		}

		@media (max-width: 680px) {
			margin: 0 auto;
			margin-top: 40px;
			padding-bottom: 0;
			width: 100%;
		}
	}
}